@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?#{$icomoon-font-version}')
      format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?#{$icomoon-font-version}')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^='ac-icon--'],
[class*=' ac-icon--'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.ac-icon--clickable {
    cursor: pointer;
  }
}

.ac-icon--shield-lock-outline {
  &:before {
    content: $ac-icon--shield-lock-outline;
  }
}
.ac-icon--shield-account-outline {
  &:before {
    content: $ac-icon--shield-account-outline;
  }
}
.ac-icon--shield-account {
  &:before {
    content: $ac-icon--shield-account;
  }
}
.ac-icon--newspaper-o {
  &:before {
    content: $ac-icon--newspaper-o;
  }
}
.ac-icon--dots-vertical-circle-outline {
  &:before {
    content: $ac-icon--dots-vertical-circle-outline;
  }
}
.ac-icon--dots-horizontal-circle-outline {
  &:before {
    content: $ac-icon--dots-horizontal-circle-outline;
  }
}
.ac-icon--account-circle-outline {
  &:before {
    content: $ac-icon--account-circle-outline;
  }
}
.ac-icon--text-box-outline {
  &:before {
    content: $ac-icon--text-box-outline;
  }
}
.ac-icon--eye-off-outline {
  &:before {
    content: $ac-icon--eye-off-outline;
  }
}
.ac-icon--eye-outline {
  &:before {
    content: $ac-icon--eye-outline;
  }
}
.ac-icon--email-fast-outline {
  &:before {
    content: $ac-icon--email-fast-outline;
  }
}
.ac-icon--progress-upload {
  &:before {
    content: $ac-icon--progress-upload;
  }
}
.ac-icon--tray-arrow-up {
  &:before {
    content: $ac-icon--tray-arrow-up;
  }
}
.ac-icon--account-edit-outline {
  &:before {
    content: $ac-icon--account-edit-outline;
  }
}
.ac-icon--alert-octagon-outline {
  &:before {
    content: $ac-icon--alert-octagon-outline;
  }
}
.ac-icon--alert-outline {
  &:before {
    content: $ac-icon--alert-outline;
  }
}
.ac-icon--circle-edit-outline {
  &:before {
    content: $ac-icon--circle-edit-outline;
  }
}
.ac-icon--form-textbox-password {
  &:before {
    content: $ac-icon--form-textbox-password;
  }
}
.ac-icon--square-edit-outline {
  &:before {
    content: $ac-icon--square-edit-outline;
  }
}
.ac-icon--alert-outline1 {
  &:before {
    content: $ac-icon--alert-outline1;
  }
}
.ac-icon--alert-octagon-outline1 {
  &:before {
    content: $ac-icon--alert-octagon-outline1;
  }
}
.ac-icon--checkbox-marked-circle-outline {
  &:before {
    content: $ac-icon--checkbox-marked-circle-outline;
  }
}
.ac-icon--circle-outline {
  &:before {
    content: $ac-icon--circle-outline;
  }
}
.ac-icon--close-circle-outline {
  &:before {
    content: $ac-icon--close-circle-outline;
  }
}
.ac-icon--delete-circle-outline {
  &:before {
    content: $ac-icon--delete-circle-outline;
  }
}
.ac-icon--download-circle-outline {
  &:before {
    content: $ac-icon--download-circle-outline;
  }
}
.ac-icon--eye-circle-outline {
  &:before {
    content: $ac-icon--eye-circle-outline;
  }
}
.ac-icon--eye-settings-outline {
  &:before {
    content: $ac-icon--eye-settings-outline;
  }
}
.ac-icon--gamepad-circle-outline {
  &:before {
    content: $ac-icon--gamepad-circle-outline;
  }
}
.ac-icon--help-circle-outline {
  &:before {
    content: $ac-icon--help-circle-outline;
  }
}
.ac-icon--information-outline {
  &:before {
    content: $ac-icon--information-outline;
  }
}
.ac-icon--information-variant-circle-outline {
  &:before {
    content: $ac-icon--information-variant-circle-outline;
  }
}
.ac-icon--pencil-circle-outline {
  &:before {
    content: $ac-icon--pencil-circle-outline;
  }
}
.ac-icon--plus-circle-outline {
  &:before {
    content: $ac-icon--plus-circle-outline;
  }
}
.ac-icon--progress-download {
  &:before {
    content: $ac-icon--progress-download;
  }
}
.ac-icon--record-circle-outline {
  &:before {
    content: $ac-icon--record-circle-outline;
  }
}
.ac-icon--send-circle-outline {
  &:before {
    content: $ac-icon--send-circle-outline;
  }
}
.ac-icon--tray-arrow-down {
  &:before {
    content: $ac-icon--tray-arrow-down;
  }
}
.ac-icon--download-box-outline {
  &:before {
    content: $ac-icon--download-box-outline;
  }
}
.ac-icon--image-outline {
  &:before {
    content: $ac-icon--image-outline;
  }
}
.ac-icon--close-box-outline {
  &:before {
    content: $ac-icon--close-box-outline;
  }
}
.ac-icon--image-off-outline {
  &:before {
    content: $ac-icon--image-off-outline;
  }
}
.ac-icon--image-remove-outline {
  &:before {
    content: $ac-icon--image-remove-outline;
  }
}
.ac-icon--home-circle-outline {
  &:before {
    content: $ac-icon--home-circle-outline;
  }
}
.ac-icon--file-image-o {
  &:before {
    content: $ac-icon--file-image-o;
  }
}
.ac-icon--file-powerpoint-o {
  &:before {
    content: $ac-icon--file-powerpoint-o;
  }
}
.ac-icon--file-excel-o {
  &:before {
    content: $ac-icon--file-excel-o;
  }
}
.ac-icon--file-word-o {
  &:before {
    content: $ac-icon--file-word-o;
  }
}
.ac-icon--file-svg-o {
  &:before {
    content: $ac-icon--file-svg-o;
  }
}
.ac-icon--file-pdf-o {
  &:before {
    content: $ac-icon--file-pdf-o;
  }
}
.ac-icon--file-text-o {
  &:before {
    content: $ac-icon--file-text-o;
  }
}
.ac-icon--file-o {
  &:before {
    content: $ac-icon--file-o;
  }
}
.ac-icon--check-circle-outline {
  &:before {
    content: $ac-icon--check-circle-outline;
  }
}
.ac-icon--alert-circle-outline {
  &:before {
    content: $ac-icon--alert-circle-outline;
  }
}
.ac-icon--duplicate {
  &:before {
    content: $ac-icon--duplicate;
  }
}
.ac-icon--outgoing-inbox {
  &:before {
    content: $ac-icon--outgoing-inbox;
  }
}
.ac-icon--outgoing-mail {
  &:before {
    content: $ac-icon--outgoing-mail;
  }
}
.ac-icon--send-outline {
  &:before {
    content: $ac-icon--send-outline;
  }
}
.ac-icon--arrow-up {
  &:before {
    content: $ac-icon--arrow-up;
  }
}
.ac-icon--arrow-down {
  &:before {
    content: $ac-icon--arrow-down;
  }
}
.ac-icon--arrow-left {
  &:before {
    content: $ac-icon--arrow-left;
  }
}
.ac-icon--arrow-right {
  &:before {
    content: $ac-icon--arrow-right;
  }
}
.ac-icon--arrow-top-left {
  &:before {
    content: $ac-icon--arrow-top-left;
  }
}
.ac-icon--arrow-top-right {
  &:before {
    content: $ac-icon--arrow-top-right;
  }
}
.ac-icon--arrow-bottom-left {
  &:before {
    content: $ac-icon--arrow-bottom-left;
  }
}
.ac-icon--arrow-bottom-right {
  &:before {
    content: $ac-icon--arrow-bottom-right;
  }
}
.ac-icon--chevron-up {
  &:before {
    content: $ac-icon--chevron-up;
  }
}
.ac-icon--chevron-down {
  &:before {
    content: $ac-icon--chevron-down;
  }
}
.ac-icon--chevron-left {
  &:before {
    content: $ac-icon--chevron-left;
  }
}
.ac-icon--chevron-right {
  &:before {
    content: $ac-icon--chevron-right;
  }
}
.ac-icon--refresh {
  &:before {
    content: $ac-icon--refresh;
  }
}
.ac-icon--arrow-all {
  &:before {
    content: $ac-icon--arrow-all;
  }
}
.ac-icon--arrow-compress-all {
  &:before {
    content: $ac-icon--arrow-compress-all;
  }
}
.ac-icon--arrow-expand-all {
  &:before {
    content: $ac-icon--arrow-expand-all;
  }
}
.ac-icon--fullscreen {
  &:before {
    content: $ac-icon--fullscreen;
  }
}
.ac-icon--fullscreen-exit {
  &:before {
    content: $ac-icon--fullscreen-exit;
  }
}
.ac-icon--arrow-compress {
  &:before {
    content: $ac-icon--arrow-compress;
  }
}
.ac-icon--arrow-expand {
  &:before {
    content: $ac-icon--arrow-expand;
  }
}
.ac-icon--open-in-new {
  &:before {
    content: $ac-icon--open-in-new;
  }
}
.ac-icon--subdirectory-arrow-left {
  &:before {
    content: $ac-icon--subdirectory-arrow-left;
  }
}
.ac-icon--subdirectory-arrow-right {
  &:before {
    content: $ac-icon--subdirectory-arrow-right;
  }
}
.ac-icon--plus {
  &:before {
    content: $ac-icon--plus;
  }
}
.ac-icon--minus {
  &:before {
    content: $ac-icon--minus;
  }
}
.ac-icon--close {
  &:before {
    content: $ac-icon--close;
  }
}
.ac-icon--check {
  &:before {
    content: $ac-icon--check;
  }
}
.ac-icon--check-all {
  &:before {
    content: $ac-icon--check-all;
  }
}
.ac-icon--pencil {
  &:before {
    content: $ac-icon--pencil;
  }
}
.ac-icon--apps {
  &:before {
    content: $ac-icon--apps;
  }
}
.ac-icon--menu {
  &:before {
    content: $ac-icon--menu;
  }
}
.ac-icon--backburger {
  &:before {
    content: $ac-icon--backburger;
  }
}
.ac-icon--dots-vertical {
  &:before {
    content: $ac-icon--dots-vertical;
  }
}
.ac-icon--dots-horizontal {
  &:before {
    content: $ac-icon--dots-horizontal;
  }
}
.ac-icon--settings-outline {
  &:before {
    content: $ac-icon--settings-outline;
  }
}
.ac-icon--settings {
  &:before {
    content: $ac-icon--settings;
  }
}
.ac-icon--tune {
  &:before {
    content: $ac-icon--tune;
  }
}
.ac-icon--login-variant {
  &:before {
    content: $ac-icon--login-variant;
  }
}
.ac-icon--logout-variant {
  &:before {
    content: $ac-icon--logout-variant;
  }
}
.ac-icon--logout {
  &:before {
    content: $ac-icon--logout;
  }
}
.ac-icon--power {
  &:before {
    content: $ac-icon--power;
  }
}
.ac-icon--grid {
  &:before {
    content: $ac-icon--grid;
  }
}
.ac-icon--grid-large {
  &:before {
    content: $ac-icon--grid-large;
  }
}
.ac-icon--format-list-bulleted {
  &:before {
    content: $ac-icon--format-list-bulleted;
  }
}
.ac-icon--ballot-outline {
  &:before {
    content: $ac-icon--ballot-outline;
  }
}
.ac-icon--tag-outline {
  &:before {
    content: $ac-icon--tag-outline;
  }
}
.ac-icon--open-in-new2 {
  &:before {
    content: $ac-icon--open-in-new2;
  }
}
.ac-icon--panorama-wide-angle {
  &:before {
    content: $ac-icon--panorama-wide-angle;
  }
}
.ac-icon--monitor {
  &:before {
    content: $ac-icon--monitor;
  }
}
.ac-icon--cellphone {
  &:before {
    content: $ac-icon--cellphone;
  }
}
.ac-icon--mouse-outline {
  &:before {
    content: $ac-icon--mouse-outline;
  }
}
.ac-icon--magnify {
  &:before {
    content: $ac-icon--magnify;
  }
}
.ac-icon--magnify-minus-outline {
  &:before {
    content: $ac-icon--magnify-minus-outline;
  }
}
.ac-icon--magnify-plus-outline {
  &:before {
    content: $ac-icon--magnify-plus-outline;
  }
}
.ac-icon--bell-outline {
  &:before {
    content: $ac-icon--bell-outline;
  }
}
.ac-icon--bell {
  &:before {
    content: $ac-icon--bell;
  }
}
.ac-icon--account {
  &:before {
    content: $ac-icon--account;
  }
}
.ac-icon--account-outline {
  &:before {
    content: $ac-icon--account-outline;
  }
}
.ac-icon--lock-reset {
  &:before {
    content: $ac-icon--lock-reset;
  }
}
.ac-icon--calendar-blank {
  &:before {
    content: $ac-icon--calendar-blank;
  }
}
.ac-icon--clock {
  &:before {
    content: $ac-icon--clock;
  }
}
.ac-icon--security-lock {
  &:before {
    content: $ac-icon--security-lock;
  }
}
.ac-icon--phone {
  &:before {
    content: $ac-icon--phone;
  }
}
.ac-icon--at {
  &:before {
    content: $ac-icon--at;
  }
}
.ac-icon--mail-ru {
  &:before {
    content: $ac-icon--mail-ru;
  }
}
.ac-icon--email-outline {
  &:before {
    content: $ac-icon--email-outline;
  }
}
.ac-icon--email {
  &:before {
    content: $ac-icon--email;
  }
}
.ac-icon--paperclip {
  &:before {
    content: $ac-icon--paperclip;
  }
}
.ac-icon--exclamation {
  &:before {
    content: $ac-icon--exclamation;
  }
}
.ac-icon--help {
  &:before {
    content: $ac-icon--help;
  }
}
.ac-icon--coins {
  &:before {
    content: $ac-icon--coins;
  }
}
.ac-icon--credit-card-multiple {
  &:before {
    content: $ac-icon--credit-card-multiple;
  }
}
.ac-icon--download {
  &:before {
    content: $ac-icon--download;
  }
}
.ac-icon--upload {
  &:before {
    content: $ac-icon--upload;
  }
}
.ac-icon--share-variant {
  &:before {
    content: $ac-icon--share-variant;
  }
}
.ac-icon--facebook {
  &:before {
    content: $ac-icon--facebook;
  }
}
.ac-icon--linkedin {
  &:before {
    content: $ac-icon--linkedin;
  }
}
.ac-icon--twitter {
  &:before {
    content: $ac-icon--twitter;
  }
}
.ac-icon--google-plus {
  &:before {
    content: $ac-icon--google-plus;
  }
}
.ac-icon--instagram {
  &:before {
    content: $ac-icon--instagram;
  }
}
.ac-icon--youtube-play {
  &:before {
    content: $ac-icon--youtube-play;
  }
}
.ac-icon--vimeo {
  &:before {
    content: $ac-icon--vimeo;
  }
}
.ac-icon--home {
  &:before {
    content: $ac-icon--home;
  }
}
.ac-icon--hexagon-outline {
  &:before {
    content: $ac-icon--hexagon-outline;
  }
}
.ac-icon--hexagon {
  &:before {
    content: $ac-icon--hexagon;
  }
}
.ac-icon--projector-screen {
  &:before {
    content: $ac-icon--projector-screen;
  }
}
.ac-icon--car {
  &:before {
    content: $ac-icon--car;
  }
}
.ac-icon--rocket {
  &:before {
    content: $ac-icon--rocket;
  }
}
.ac-icon--shield-half-full {
  &:before {
    content: $ac-icon--shield-half-full;
  }
}
.ac-icon--signal-off {
  &:before {
    content: $ac-icon--signal-off;
  }
}
.ac-icon--star-half {
  &:before {
    content: $ac-icon--star-half;
  }
}
.ac-icon--star-outline {
  &:before {
    content: $ac-icon--star-outline;
  }
}
.ac-icon--star {
  &:before {
    content: $ac-icon--star;
  }
}
.ac-icon--water {
  &:before {
    content: $ac-icon--water;
  }
}
.ac-icon--clear {
  &:before {
    content: $ac-icon--clear;
  }
}
