$icomoon-font-family: 'ac-icons' !default;
$icomoon-font-path: '~@fonts/AC Icons/' !default;
$icomoon-font-version: 'ha1rhs' !default;

$ac-icon--account-circle-outline: '\e994';
$ac-icon--account-edit-outline: '\e978';
$ac-icon--account-outline: '\e957';
$ac-icon--account: '\e954';
$ac-icon--alert-circle-outline: '\e96c';
$ac-icon--alert-octagon-outline1: '\e97f';
$ac-icon--alert-octagon-outline: '\e979';
$ac-icon--alert-outline1: '\e97e';
$ac-icon--alert-outline: '\e97a';
$ac-icon--apps: '\e953';
$ac-icon--arrow-all: '\e90d';
$ac-icon--arrow-bottom-left: '\e906';
$ac-icon--arrow-bottom-right: '\e907';
$ac-icon--arrow-compress-all: '\e90e';
$ac-icon--arrow-compress: '\e912';
$ac-icon--arrow-down: '\e901';
$ac-icon--arrow-expand-all: '\e90f';
$ac-icon--arrow-expand: '\e913';
$ac-icon--arrow-left: '\e902';
$ac-icon--arrow-right: '\e903';
$ac-icon--arrow-top-left: '\e904';
$ac-icon--arrow-top-right: '\e905';
$ac-icon--arrow-up: '\e900';
$ac-icon--at: '\e933';
$ac-icon--backburger: '\e91b';
$ac-icon--ballot-outline: '\e95a';
$ac-icon--bell-outline: '\e92e';
$ac-icon--bell: '\e92f';
$ac-icon--calendar-blank: '\e95e';
$ac-icon--car: '\e952';
$ac-icon--cellphone: '\e929';
$ac-icon--check-all: '\e956';
$ac-icon--check-circle-outline: '\e96e';
$ac-icon--check: '\e955';
$ac-icon--checkbox-marked-circle-outline: '\e980';
$ac-icon--chevron-down: '\e909';
$ac-icon--chevron-left: '\e90a';
$ac-icon--chevron-right: '\e90b';
$ac-icon--chevron-up: '\e908';
$ac-icon--circle-edit-outline: '\e97b';
$ac-icon--circle-outline: '\e981';
$ac-icon--clear: '\e974';
$ac-icon--clock: '\e931';
$ac-icon--close-box-outline: '\e971';
$ac-icon--close-circle-outline: '\e982';
$ac-icon--close: '\e918';
$ac-icon--coins: '\e950';
$ac-icon--credit-card-multiple: '\e951';
$ac-icon--delete-circle-outline: '\e983';
$ac-icon--dots-horizontal-circle-outline: '\e993';
$ac-icon--dots-horizontal: '\e91d';
$ac-icon--dots-vertical-circle-outline: '\e992';
$ac-icon--dots-vertical: '\e91c';
$ac-icon--download-box-outline: '\e976';
$ac-icon--download-circle-outline: '\e984';
$ac-icon--download: '\e939';
$ac-icon--duplicate: '\e966';
$ac-icon--email-fast-outline: '\e96d';
$ac-icon--email-outline: '\e935';
$ac-icon--email: '\e936';
$ac-icon--exclamation: '\e94f';
$ac-icon--eye-circle-outline: '\e985';
$ac-icon--eye-off-outline: '\e96b';
$ac-icon--eye-outline: '\e990';
$ac-icon--eye-settings-outline: '\e986';
$ac-icon--facebook: '\e93c';
$ac-icon--file-excel-o: '\e961';
$ac-icon--file-image-o: '\e95c';
$ac-icon--file-o: '\e965';
$ac-icon--file-pdf-o: '\e963';
$ac-icon--file-powerpoint-o: '\e960';
$ac-icon--file-svg-o: '\e96a';
$ac-icon--file-text-o: '\e964';
$ac-icon--file-word-o: '\e962';
$ac-icon--form-textbox-password: '\e97c';
$ac-icon--format-list-bulleted: '\e925';
$ac-icon--fullscreen-exit: '\e911';
$ac-icon--fullscreen: '\e910';
$ac-icon--gamepad-circle-outline: '\e987';
$ac-icon--google-plus: '\e93f';
$ac-icon--grid-large: '\e924';
$ac-icon--grid: '\e923';
$ac-icon--help-circle-outline: '\e988';
$ac-icon--help: '\e938';
$ac-icon--hexagon-outline: '\e944';
$ac-icon--hexagon: '\e945';
$ac-icon--home-circle-outline: '\e95b';
$ac-icon--home: '\e943';
$ac-icon--image-off-outline: '\e972';
$ac-icon--image-outline: '\e970';
$ac-icon--image-remove-outline: '\e973';
$ac-icon--information-outline: '\e989';
$ac-icon--information-variant-circle-outline: '\e98a';
$ac-icon--instagram: '\e940';
$ac-icon--linkedin: '\e93d';
$ac-icon--lock-reset: '\e930';
$ac-icon--login-variant: '\e921';
$ac-icon--logout-variant: '\e958';
$ac-icon--logout: '\e959';
$ac-icon--magnify-minus-outline: '\e92c';
$ac-icon--magnify-plus-outline: '\e92d';
$ac-icon--magnify: '\e92b';
$ac-icon--mail-ru: '\e934';
$ac-icon--menu: '\e91a';
$ac-icon--minus: '\e917';
$ac-icon--monitor: '\e928';
$ac-icon--mouse-outline: '\e92a';
$ac-icon--newspaper-o: '\e991';
$ac-icon--open-in-new2: '\e926';
$ac-icon--open-in-new: '\e95f';
$ac-icon--outgoing-inbox: '\e967';
$ac-icon--outgoing-mail: '\e968';
$ac-icon--panorama-wide-angle: '\e927';
$ac-icon--paperclip: '\e937';
$ac-icon--pencil-circle-outline: '\e98b';
$ac-icon--pencil: '\e919';
$ac-icon--phone: '\e932';
$ac-icon--plus-circle-outline: '\e98c';
$ac-icon--plus: '\e916';
$ac-icon--power: '\e922';
$ac-icon--progress-download: '\e98d';
$ac-icon--progress-upload: '\e96f';
$ac-icon--projector-screen: '\e946';
$ac-icon--record-circle-outline: '\e98e';
$ac-icon--refresh: '\e90c';
$ac-icon--rocket: '\e947';
$ac-icon--security-lock: '\e94e';
$ac-icon--send-circle-outline: '\e98f';
$ac-icon--send-outline: '\e969';
$ac-icon--settings-outline: '\e91e';
$ac-icon--settings: '\e91f';
$ac-icon--share-variant: '\e93b';
$ac-icon--shield-account-outline: '\e997';
$ac-icon--shield-account: '\e998';
$ac-icon--shield-half-full: '\e948';
$ac-icon--shield-lock-outline: '\e996';
$ac-icon--signal-off: '\e949';
$ac-icon--square-edit-outline: '\e97d';
$ac-icon--star-half: '\e94a';
$ac-icon--star-outline: '\e94b';
$ac-icon--star: '\e94c';
$ac-icon--subdirectory-arrow-left: '\e914';
$ac-icon--subdirectory-arrow-right: '\e915';
$ac-icon--tag-outline: '\e95d';
$ac-icon--text-box-outline: '\e995';
$ac-icon--tray-arrow-down: '\e975';
$ac-icon--tray-arrow-up: '\e977';
$ac-icon--tune: '\e920';
$ac-icon--twitter: '\e93e';
$ac-icon--upload: '\e93a';
$ac-icon--vimeo: '\e942';
$ac-icon--water: '\e94d';
$ac-icon--youtube-play: '\e941';
