.ac-forgot-password-container {
  padding: var(--tilburg-space-block-cat);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ac-forgot-password-container > div {
  max-width: 400px;
  width: 100%;
  padding: var(--tilburg-space-block-cat);
}

.ac-forgot-password-heading {
  margin-block-end: var(--tilburg-space-block-snail);
}

.ac-forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ac-forgot-password-form-button {
  min-width: -webkit-fill-available !important;
}

.ac-forgot-password-separator-row {
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-block-mouse, 8px);
  margin: var(--tilburg-space-block-mouse) 0;
}

.ac-forgot-password-separator {
  flex: 1 1 0;
}

.ac-forgot-password-divider-text {
  color: var(--utrecht-separator-color);
  font-size: var(--tilburg-typography-font-size-sm);
  white-space: nowrap;
}

.ac-forgot-password-form-field-error {
  color: var(--tilburg-color-red-400);
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
  font-weight: 500;
}
