.ac-organisatie {
  &-info-message {
    background-color: color-mix(in srgb, var(--utrecht-form-field-info-message-color, #004699) 5%, #ffffff);
    border: 1px solid var(--utrecht-form-field-info-message-color, #004699);
    border-radius: 4px;
    color: var(--utrecht-form-field-info-message-color, #004699);
    font-size: var(--utrecht-form-field-info-message-font-size, 1rem);
    font-weight: var(--utrecht-form-field-info-message-font-weight, 400);
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--utrecht-form-field-info-message-font-family);
  }

  &-warning-message {
    background-color: color-mix(in srgb, var(--utrecht-form-field-warning-message-color, #FFB612) 2%, #ffffff);
    border: 1px solid var(--utrecht-form-field-warning-message-color, #FFB612);
    border-radius: 4px;
    color: var(--utrecht-form-field-warning-message-color, #FFB612);
    font-size: var(--utrecht-form-field-warning-message-font-size, 1rem);
    font-weight: var(--utrecht-form-field-warning-message-font-weight, 400);
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--utrecht-form-field-warning-message-font-family);
  }

  &-contactgegevens {
    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: var(--tilburg-search-card-background-color, var(--tilburg-color-white));
      border-radius: var(--tilburg-search-card-border-radius, var(--tilburg-border-radius-md));
      border: var(--tilburg-search-card-border-width, 2px) var(--tilburg-search-card-border-style, solid) var(--tilburg-search-card-border-color, #e5e7eb);
      padding-inline-start: var(--tilburg-search-card-padding-inline-start);
      padding-inline-end: var(--tilburg-search-card-padding-inline-end);
      padding-block-start: var(--tilburg-search-card-padding-block-start);
      padding-block-end: var(--tilburg-search-card-padding-block-end);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--tilburg-search-card-content-gap, var(--tilburg-space-block-snail));
      padding: var(--tilburg-search-card-padding-md, var(--tilburg-space-block-rabbit));
    }

    &__grid {
      grid-template-columns: min-content 1fr !important;
      gap: 0.5rem;
    }

    &__label {
      font-weight: 500;
    }
  }
}