.con-module-publication {

  &--header-container {
    flex: 2;
  }

  &--header-actions {
    flex: 1;
  }

  &--header-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;

    & > svg {
        height: var(--utrecht-heading-1-font-size);
        width: var(--utrecht-heading-1-font-size);
    }
  }

}