.con-form-wizard-review-heading-container {
  margin-block-end: var(--tilburg-space-block-cat);
}

.con-form-wizard-review-heading-header {
  margin-block-end: 10px;
}

.utrecht-separator.con-form-wizard-review-header__separator {
  margin-block-start: var(--tilburg-space-block-cat);
  margin-block-end: var(--tilburg-space-block-cat);
}
