.ac-drawer {
  --transition-speed: 0.4s;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --translate-offset-x: 100%;
  --header-height: 64px;

  inset-inline-start: auto;
  inset-inline-end: 0;
  min-block-size: 100dvh;
  inline-size: min(350px, 90%);
  margin: unset;
  padding: 0;
  border: none;
  box-shadow: var(--tilburg-box-shadow-lg);
  translate: var(--translate-offset-x) 0;
  opacity: 0;
  overscroll-behavior-y: contain;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: display, opacity, translate, overlay;
    transition-duration: var(--transition-speed);
    transition-timing-function: var(--transition-timing);
    transition-behavior: allow-discrete;
  }

  &[open] {
    --translate-offset-x: 0;

    display: block;
    opacity: 1;

    @starting-style {
      --translate-offset-x: 100%;

      opacity: 0;
    }

    &::backdrop {
      opacity: 1;

      @starting-style {
        opacity: 0;
      }
    }
  }

  &--backdrop::backdrop {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    @media (prefers-reduced-motion: no-preference) {
      transition-property: display, opacity, overlay;
      transition-duration: var(--transition-speed);
      transition-timing-function: var(--transition-timing);
      transition-behavior: allow-discrete;
    }
  }

  h2 {
    color: var(--tilburg-color-gray-900);
    font-size: var(--tilburg-typography-font-size-lg);
    font-family: var(--tilburg-typography-font-family-secondary), sans-serif;
  }

  &__header {
    block-size: var(--header-height);
    padding: var(--tilburg-space-row-rabbit);
    border-bottom: 1px solid var(--tilburg-color-gray-300);
  }

  &__content {
    min-block-size: calc(100dvh - var(--header-height));
    padding-block-start: var(--tilburg-space-row-cat);
    padding-inline: var(--tilburg-space-row-rat);
  }
}

body:has(.ac-drawer[open]) {
  overflow-y: clip;
}

