@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.ac-header {
  --navigation-bar-height: 96px;

  position: relative;
  padding-inline: var(--tilburg-space-column-cat);
  background-color: var(--tilburg-color-blue-400);

  @include respond-max($screen-lg) {
    --navigation-bar-height: 72px;

    padding-inline: 0;

    &:has(button[aria-expanded='true']) {
      border-bottom: 2px solid var(--tilburg-color-blue-500);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tilburg-space-column-mouse);
  }

  &__navigation-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: var(--navigation-bar-height);
    background-color: var(--tilburg-color-blue-400);
  }

  .logo-container {
    display: flex;
    align-items: center;
    gap: var(--tilburg-space-column-rat);
    text-decoration: none;

    &:where(:hover, :focus-visible) {
      text-decoration: none;
    }

    svg {
      flex-shrink: 0;
      inline-size: var(--navigation-bar-height);
      block-size: var(--navigation-bar-height);
    }
  }

  .logo-text {
    color: var(--tilburg-color-white);
    font-size: var(--tilburg-typography-font-size-xl);
    font-weight: var(--tilburg-typography-font-weight-bold);
    font-family: var(--tilburg-typography-font-family-primary), sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-wrap: balance;
  }

  &__navigation-secondary {
    padding-block: var(--tilburg-space-block-mouse);
    background-color: var(--tilburg-color-gray-50);
    margin-inline-start: calc(var(--tilburg-space-column-cat) * -1);
    inline-size: calc(100% + var(--tilburg-space-column-cat) * 2);

    @include respond-max($screen-lg) {
      margin-inline-start: 0;
      inline-size: 100%;

      .container {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &:has(.container:empty) {
      padding: 0;
    }
  }

  // remove margin from unnecessary p tag wrapper
  p:has([class*='skip-link']) {
    margin: 0;
  }

  // remove padding from first breadcrumb item to align with container
  ol .utrecht-breadcrumb-nav__item:first-of-type a {
    padding-inline-start: 0;
  }
}
