.ac-loader {
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  grid-area: content;
  height: calc(100vh - 96px);

  &-wrapper {
    display: flex;
    height: 100%;
  }

  &-dot {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: .5em;
    animation: fade .5s infinite ease-in-out;
    animation-direction: alternate;
    opacity: 0;

    &:nth-child(1) {
      .ac-loader--primary & {
        background-color: var(--tilburg-color-blue-400);
      }

      .ac-loader--secondary & {
        background-color: var(--tilburg-color-blue-400);
      }

      animation-delay: 0;
    }

    &:nth-child(2) {
      .ac-loader--primary & {
        background-color: var(--tilburg-color-blue-400);
      }

      .ac-loader--secondary & {
        background-color: var(--tilburg-color-blue-400);
      }

      animation-delay: .125s;
    }

    &:nth-child(3) {
      .ac-loader--primary & {
        background-color: var(--tilburg-color-blue-400);
      }

      .ac-loader--secondary & {
        background-color: var(--tilburg-color-blue-400);
      }

      animation-delay: .25s;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
