@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.ac-hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--tilburg-color-blue-500);
  padding-block: var(--tilburg-space-row-elephant);

  .ac-card {
    inline-size: min(100%, 744px);

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--tilburg-space-block-rabbit);

      @include respond-max($screen-sm) {
        gap: var(--tilburg-space-block-mouse);
      }
    }
  }
}
