
.ac-logo-container {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .ac-logo-container.header {
    inline-size: var(--conduction-logo-header-inline-size);
    block-size: var(--conduction-logo-header-block-size);
    background-image: var(--conduction-logo-header-background-image);
  }
  
  .ac-logo-container.footer {
    inline-size: var(--conduction-logo-footer-inline-size);
    block-size: var(--conduction-logo-footer-block-size);
    background-image: var(--conduction-logo-footer-background-image);
  }
  
  .ac-logo-container.navbar {
    inline-size: var(--conduction-logo-navbar-inline-size);
    block-size: var(--conduction-logo-navbar-block-size);
    background-image: var(--conduction-logo-navbar-background-image);
  }
  
  .ac-logo-container.clickable:hover {
    cursor: pointer;
  }
  