.ac-checkbox-label {
  display: flex;
  flex-direction: row-reverse;
  justify-self: left;
}
.ac-checkbox-label-info {
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-inline-beetle);
}

.ac-checkbox-label-info-with-custom-part {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-block-end: 3px;
}
