@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;
@use '../global/mixins/sr-only' as *;

.ac-search-box {
  background: var(--tilburg-color-blue-100);
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-block-cat);

  &--spacing {
    margin-block: var(--tilburg-space-block-rat);
  }

  &--small {
    display: block;

    .ac-search-box__search {
      gap: var(--tilburg-space-block-snail);
    }
  }

  &--home {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--tilburg-space-block-mouse);

    .utrecht-text-box {
      max-inline-size: unset;
    }

    .ac-search-box__search {
      flex-direction: row;
      gap: var(--tilburg-space-block-mouse);
    }

    @include respond-max($screen-sm) {
      gap: var(--tilburg-space-block-mouse);

      .ac-search-box__search {
        inline-size: 100%;
        flex-direction: column;
        gap: var(--tilburg-space-block-mouse);
      }

      .utrecht-heading-2 {
        font-size: var(--tilburg-typography-font-size-xl);
      }
    }
  }

  &--search {
    h2 {
      margin-inline-end: calc(
        var(--tilburg-space-column-elephant) + var(--tilburg-space-block-cat)
      );
    }

    @include respond-max($screen-md) {
      flex-direction: column;
      align-items: flex-start;

      h2 {
        margin-inline-end: 0;
      }
    }
  }

  &__search {
    display: flex;
    gap: var(--tilburg-space-block-mouse);
    inline-size: 100%;

    @include respond-max($screen-md) {
      justify-content: space-between;

      input {
        max-inline-size: 100%;
      }

      button span {
        @include sr-only;
      }
    }

    button {
      flex-shrink: 0;
    }
  }

  &__actions {
    display: none;

    @include respond-max($screen-md) {
      display: block;

      // custom overrides in favor of design rather then NLDS
      button {
        inline-size: 100%;
        max-inline-size: 100%;
        color: var(--tilburg-color-blue-400);
        background-color: transparent;
        border-color: var(--tilburg-color-blue-400);
      }
    }
  }
}

.ams-date-input {
  background-color: var(--ams-date-input-background-color);
  box-shadow: var(--ams-date-input-box-shadow);
  color: var(--ams-date-input-color);
  font-family: var(--ams-date-input-font-family);
  font-size: var(--ams-date-input-font-size);
  font-weight: var(--ams-date-input-font-weight);
  line-height: var(--ams-date-input-line-height);
  min-block-size: calc(
    var(--ams-date-input-font-size) * var(--ams-date-input-line-height) + 2 *
      var(--ams-date-input-padding-block)
  );
  min-inline-size: calc(8ch + 2 * var(--ams-date-input-padding-inline));
  outline-offset: var(--ams-date-input-outline-offset);
  padding-block: var(--ams-date-input-padding-block);
  padding-inline: var(--ams-date-input-padding-inline);
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  appearance: none;
  border-color: var(--ams-date-input-border-color);
  border-style: var(--ams-date-input-border-style);
  border-width: var(--ams-date-input-border-width);
  border-radius: var(--ams-date-input-border-radius);
  box-sizing: var(--ams-date-input-box-sizing);
  margin-block: var(--ams-date-input-margin-block);
}

// .ams-date-input::-webkit-datetime-edit-fields-wrapper  {
//   color: var(--utrecht-textbox-placeholder-color);
// }
// .ams-date-input::-webkit-datetime-edit-day-field {
//   color: purple;
// }
