@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.ac-intro {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--tilburg-space-column-rabbit);

    @include respond-max($screen-sm) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  h1 {
    max-inline-size: 18ch;

    @include respond-max($screen-sm) {
      max-inline-size: none;
    }
  }

  &__content {
    > p {
      margin-block-end: var(--tilburg-space-block-rabbit);
      font-size: var(--tilburg-typography-font-size-lg);

      @include respond-max($screen-sm) {
        font-size: var(--tilburg-typography-font-size-md);
      }
    }
  }
}
