.ac-form-field--full-width {
  max-inline-size: 100% !important;
}

.ac-form-field_label__required {
  display: flex;
}

.ac-form-field-header-info {
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-inline-beetle);
}

.ac-form-field-label-with-custom-part {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-block-end: 3px;
}
