@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-section {
  &--spacing {
    padding-block: var(--tilburg-space-block-pig);

    @include respond-max($screen-sm) {
      padding-block: var(--tilburg-space-block-cat);
    }

    &-compact {
        padding-block: var(--tilburg-space-block-mouse);

        @include respond-max($screen-sm) {
            padding-block: var(--tilburg-space-block-snail);
        }
    }
  }
}
