@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-searchbox {
  background: var(--tilburg-color-blue-100);
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-block-cat);

  &--spacing {
    margin-block: var(--tilburg-space-block-rat);
  }

  &--small {
    display: block;

    .tilburg-searchbox__search {
      gap: var(--tilburg-space-block-snail);
    }
  }

  &--home {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--tilburg-space-block-rabbit);

    .utrecht-textbox {
      max-inline-size: unset;
    }

    .tilburg-searchbox__search {
      flex-direction: row;
      gap: var(--tilburg-space-block-mouse);
    }

    @include respond-max($screen-sm) {
      gap: var(--tilburg-space-block-mouse);

      .tilburg-searchbox__search {
        inline-size: 100%;
        flex-direction: column;
        gap: var(--tilburg-space-block-mouse);
      }

      .utrecht-heading-2 {
        font-size: var(--tilburg-typography-font-size-xl);
      }
    }
  }

  &--search {
    h2 {
      margin-inline-end: calc(var(--tilburg-space-column-elephant) + var(--tilburg-space-block-cat));
    }

    @include respond-max($screen-md) {
      flex-direction: column;
      align-items: flex-start;

      h2 {
        margin-inline-end: 0;
      }
    }
  }

  &__search {
    display: flex;
    gap: var(--tilburg-space-block-mouse);
    inline-size: 100%;

    button {
      flex-shrink: 0;
    }
  }

  &__actions {
    display: none;

    @include respond-max($screen-md) {
      display: block;

      button {
        inline-size: 100%;
      }
    }
  }
}
