.tilburg-featured {
  background-color: var(--tilburg-color-blue-100);

  .container {
    display: grid;
    gap: var(--tilburg-space-column-pig);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--tilburg-space-column-rabbit);
  }
}