@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-header {
  --navigation-bar-height: 96px;

  position: relative;

  @include respond-max($screen-md) {
    --navigation-bar-height: 72px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--tilburg-space-column-mouse);
  }

  &__navigation-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    inline-size: 100dvw;
    block-size: var(--navigation-bar-height);
    background-color: var(--tilburg-color-blue-300);
  }

  &__logo {
    > * {
      display: flex;
      align-items: center;
      gap: var(--tilburg-space-column-pig);
      color: var(--tilburg-color-white);
      font-size: var(--tilburg-typography-font-size-xl);
      font-weight: var(--tilburg-typography-font-weight-bold);
      text-decoration: none;

      @include respond-max($screen-md) {
        gap: var(--tilburg-space-column-rabbit);
      }
    }

    svg {
      flex-shrink: 0;
      inline-size: var(--navigation-bar-height);
      block-size: var(--navigation-bar-height);
    }
  }

  &__navigation-secondary {
    padding-block: var(--tilburg-space-block-mouse);
    background-color: var(--tilburg-color-gray-50);

    @include respond-max($screen-md) {
      .container {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &:has(.container:empty) {
      padding: 0;
    }
  }

  // remove margin from unnecessary p tag wrapper
  p:has([class*='skip-link']) {
    margin: 0;
  }

  // remove padding from first breadcrumb item to align with container
  ol .utrecht-breadcrumb-nav__item:first-of-type a {
    padding-inline-start: 0;
  }
}
