@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-about {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--tilburg-space-column-horse);

    @include respond-max($screen-sm) {
      grid-template-columns: 1fr;
      gap: var(--tilburg-space-column-rabbit);
    }
  }

  &__img {
    display: grid;
    place-items: center;
  }

  p {
    margin-block: var(--tilburg-space-block-rabbit);
    font-size: var(--tilburg-typography-font-size-lg);

    @include respond-max($screen-sm) {
      font-size: var(--tilburg-typography-font-size-md);
    }
  }

  img {
    border-radius: var(--tilburg-border-radius-md);
  }
}