@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-searchbox {
  display: flex;
  align-items: center;
  gap: var(--tilburg-space-block-cat);

  &--small {
    display: block;

    .tilburg-searchbox__search {
      gap: var(--tilburg-space-block-snail);
    }
  }

  &--home {
    flex-direction: column;
    gap: var(--tilburg-space-block-rabbit);
    align-items: flex-start;

    .tilburg-searchbox__search {
      flex-direction: row;
      gap: var(--tilburg-space-block-mouse);
    }

    @include respond-max($screen-sm) {
      .tilburg-searchbox__search {
        width: 100%;
        flex-direction: column;
        gap: var(--tilburg-space-block-snail);
      }
    }
  }

  &__search {
    display: flex;
    gap: var(--tilburg-space-block-mouse);

    button {
      flex-shrink: 0;
    }
  }
}
