@use '../global/breakpoints' as *;
@use '../global/mixins/respond' as *;

.tilburg-subjects {
  .container {
    display: grid;
    gap: var(--tilburg-space-column-pig);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--tilburg-space-column-rabbit);

    @include respond-max($screen-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-max($screen-sm) {
      grid-template-columns: 1fr;
    }
  }
}