/* catamaran-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 400;
	src: url('~@fonts/Catamaran/catamaran-v17-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Catamaran/catamaran-v17-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 600;
	src: url('~@fonts/Catamaran/catamaran-v17-latin-600.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Catamaran/catamaran-v17-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Catamaran';
	font-style: normal;
	font-weight: 800;
	src: url('~@fonts/Catamaran/catamaran-v17-latin-800.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Catamaran/catamaran-v17-latin-800.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mada-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Mada';
	font-style: normal;
	font-weight: 400;
	src: url('~@fonts/Mada/mada-v18-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Mada/mada-v18-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Mada';
	font-style: normal;
	font-weight: 500;
	src: url('~@fonts/Mada/mada-v18-latin-500.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Mada/mada-v18-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Mada';
	font-style: normal;
	font-weight: 600;
	src: url('~@fonts/Mada/mada-v18-latin-600.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Mada/mada-v18-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mada-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Mada';
	font-style: normal;
	font-weight: 700;
	src: url('~@fonts/Mada/mada-v18-latin-700.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Mada/mada-v18-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('~@fonts/Open Sans/open-sans-v34-latin-regular.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Open Sans/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url('~@fonts/Open Sans/open-sans-v34-latin-700.woff2') format('woff2'),
		/* Chrome 36+, Opera 23+, Firefox 39+ */
			url('~@fonts/Open Sans/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin font-icon() {
	font-family: $icomoon-font-family;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin font-heading() {
	font-family: 'Catamaran', arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin font-title() {
	font-family: 'Open Sans', arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin font-body() {
	font-family: 'Mada', arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin font-mono() {
	font-family: 'Courier', monospace;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
