.ac-gemma-graph-container {
  background-color: #f2f2f2;
  // overflow: scroll;
}
.ac-gemma-graph-container-loading {
  background-color: #f2f2f2;
  height: 800px;
  width: 1168px;
  // overflow: scroll;
}

.ac-gemma-graph-container-loading > .ac-loader {
  height: 800px !important;
}

.ac-gemma-graph-container svg {
  // width: calc(100% + 1000px);
  // height: calc(100% + 1000px);
  max-width: none;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.ac-gemma-select {
  margin-block-end: 25px;
}
