.ac-gemma-graph-container {
  background-color: #f2f2f2;
  // overflow: scroll;

  @include respond-max($screen-sm) {
    width: 100% !important;
  }
  @include respond-min($screen-sm) {
    @include respond-max($screen-md) {
      width: 100% !important;
    }
  }
}

.ac-gemma-graph-container-loading {
  background-color: #f2f2f2;
  height: 800px;
  @include respond-max($screen-sm) {
    width: 100% !important;
  }
  @include respond-min($screen-sm) {
    @include respond-max($screen-md) {
      width: 100% !important;
    }
  }
}

.ac-gemma-graph-container-loading > .ac-loader {
  height: 800px !important;
}

.ac-gemma-graph-container svg {
  // width: calc(100% + 1000px);
  // height: calc(100% + 1000px);
  max-width: $screen-md-max;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 10px;
  padding-block-end: 10px;
}

.ac-gemma-select {
  margin-block-end: 25px;
}

.ac-gemma-tooltip {
  padding-inline-start: var(--conduction-tooltip-padding-inline-start);
  padding-inline-end: var(--conduction-tooltip-padding-inline-end);
  padding-block-start: var(--conduction-tooltip-padding-block-start);
  padding-block-end: var(--conduction-tooltip-padding-block-end);

  background-color: var(--conduction-tooltip-background-color) !important;
  color: var(--conduction-tooltip-color) !important;

  border-width: var(--conductino-tooltip-border-width);
  border-color: var(--conduction-tooltip-border-color);
  border-style: var(--conduction-tooltip-border-style);
  border-radius: var(--conduction-tooltip-border-radius) !important;

  max-width: 700px;

  z-index: var(--conduction-tooltip-z-index);
}
