.ac-column {
  display: flex;
  flex-direction: column;

  &--gap-horse {
    gap: var(--tilburg-space-column-horse);
  }

  &--gap-tiger {
    gap: var(--tilburg-space-column-tiger);
  }

  &--gap-pig {
    gap: var(--tilburg-space-column-pig);
  }

  &--gap-dog {
    gap: var(--tilburg-space-column-dog);
  }

  &--gap-cat {
    gap: var(--tilburg-space-column-cat);
  }

  &--gap-rabbit {
    gap: var(--tilburg-space-column-rabbit);
  }

  &--gap-rat {
    gap: var(--tilburg-space-column-rat);
  }
}
