.tilburg-card {
  border-radius: var(--tilburg-border-radius-md);
  display: flex;

  inline-size: min(100%, 744px);
  //inline-size: 744px;

  flex-direction: column;
  gap: var(--tilburg-space-block-rabbit);

  &--blue {
    background-color: var(--tilburg-color-blue-100);
  }

  &--padding {
    &-default {
      padding: var(--tilburg-space-block-rabbit);
    }

    &-lg {
      padding: var(--tilburg-space-block-dog);
    }
  }
}
