.ac-button {
  &.utrecht-link {
    padding: 0;
    border: none;
    text-decoration: none;

    &:where(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  &.utrecht-button--slim {
    padding: 0 var(--tilburg-space-column-snail);
    font-size: var(--tilburg-font-size-sm);
    line-height: 1.2;
    min-height: auto;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: var(--tilburg-space-column-snail);
    max-width: unset;
  }

  &--loading {
    &:has(svg) {
      svg {
        animation: spin 1s linear infinite;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &--animate {
    &:has(svg) {
      svg {
        transition: rotate 0.25s cubic-bezier(0.1, 0.1, 0, 1);
      }

      &:where(:hover, :focus-visible) {
        svg {
          rotate: -90deg;
        }
      }
    }
  }

  span {
    font-weight: bold;
    text-decoration: underline !important;
  }

  &:has(.utrecht-badge-status) {
    text-decoration: none;

    span {
      display: inline-flex;
      align-items: center;
      gap: var(--tilburg-space-column-snail);
      padding-inline-end: var(--tilburg-space-column-snail);
      border-radius: var(--tilburg-border-radius-lg);

      svg {
        transition: rotate 0.25s cubic-bezier(0.1, 0.1, 0, 1);
      }
    }

    &:where(:hover, :focus-visible) {
      span {
        svg {
          rotate: -90deg;
        }
      }
    }
  }
}
