.tilburg-search-filters {
  @include respond-max($screen-md) {
    position: fixed;
    display: none;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    &.open {
      display: flex;
    }
  }

  :is(h3, h4) {
    margin-block-end: var(--tilburg-space-block-beetle);
  }

  &__wrapper {
    inline-size: 265px;

    @include respond-max($screen-md) {
      position: relative;
      inline-size: min(90%, 350px);
      min-block-size: 100dvh;
      padding: var(--tilburg-space-block-mouse);
      background-color: var(--tilburg-color-white);
      box-shadow: var(--tilburg-box-shadow-lg);
      overflow-x: clip;
      overflow-y: scroll;
      overscroll-behavior-y: contain;
      z-index: 2;

      > div:first-of-type {
        position: relative;
        padding-block-end: var(--tilburg-space-row-mouse);

        &:after {
          content: '';
          position: absolute;
          inset-block-end: 0;
          inset-inline-start: calc(var(--tilburg-space-row-mouse) * -2);
          inset-inline-end: 0;
          inline-size: calc(100% + 4 * var(--tilburg-space-row-mouse));
          block-size: 1px;
          background-color: var(--tilburg-color-gray-300);
        }
      }
    }
  }

  &__header {
    button {
      display: none;

      @include respond-max($screen-md) {
        display: flex;
      }
    }
  }

  &__date {
    // ...
  }

  &__category,
  &__subjects {
    .utrecht-form-field--checkbox:not(:last-child) {
      margin-block-end: var(--tilburg-space-block-beetle);
    }
  }

  &__sort{
    padding-block-end: var(--tilburg-space-block-rat);
    border-bottom: 1px solid var(--tilburg-color-gray-300);
  }

  &__category {
    padding-block: var(--tilburg-space-block-rat);
    border-color: var(--tilburg-color-gray-300);
    border-style: solid;
    border-width: 1px 0 1px 0;

    button {
      margin-block-end: var(--tilburg-space-block-beetle);
    }
  }

  &__subjects {
    @include respond-max($screen-md) {
      padding-block-end: var(--tilburg-space-row-elephant);
    }
  }

  &__button {
    display: none;

    @include respond-max($screen-md) {
      position: absolute;
      display: block;
      inset-block-end: 0;
      inset-inline-start: 0;
      inline-size: min(90%, 350px);
      padding: var(--tilburg-space-row-mouse);
      background-color: var(--tilburg-color-white);
      box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
      z-index: 3;
    }
  }
}
