@use '../mixins/respond' as *;

.container {
  margin: 0 auto;
  padding: 0 var(--tilburg-space-column-rat);
  max-width: 100%;

  @include respond-min($screen-lg) {
    max-width: 1200px;
  }

  &.stretch {
    max-width: 100%;
  }

  &.default-space {

  }

  &--spacing {
    &-xs {
      margin-top: var(--tilburg-space-block-snail);
      margin-bottom: var(--tilburg-space-block-snail);
    }

    &-sm {
      margin-top: var(--tilburg-space-block-mouse);
      margin-bottom: var(--tilburg-space-block-mouse);
    }

    &-md {
      margin-top: var(--tilburg-space-block-rat);
      margin-bottom: var(--tilburg-space-block-rat);
    }

    &-lg {
      margin-top: var(--tilburg-space-block-cat);
      margin-bottom: var(--tilburg-space-block-cat);
    }

    &-xl {
      margin-top: var(--tilburg-space-block-dog);
    }
  }
}
