@use '../mixins/respond' as *;

.container {
  margin: 0 auto;
  padding: 0 var(--tilburg-space-column-rat);
  max-width: 100%;

  @include respond-min($screen-lg) {
    max-width: 1200px;
  }

  &.stretch {
    max-width: 100%;
  }

  &.default-space {

  }

  &--compact {
    max-width: 744px;
    padding-top: var(--tilburg-space-block-rat);
    padding-bottom: var(--tilburg-space-block-rat);
  }
}
