@mixin outline {
  outline: 2px dotted black !important;
  outline-color: black !important;
  outline-offset: 0 !important;
  -webkit-box-shadow: 0 0 0 2px white !important;
  box-shadow: 0 0 0 2px white !important;
}

*:focus,
*:focus-visible {
  @include outline;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}