@use '../../global/breakpoints' as *;
@use '../../global/mixins/respond' as *;

.utrecht-link {
  display: flex;
  align-items: center;
  gap: var(--utrecht-link-icon-margin-inline);

  svg {
    flex-shrink: 0;
  }

  &:not(.ac-button) {
    font-size: var(--tilburg-typography-font-size-lg);

    @include respond-max($screen-md) {
      font-size: var(--tilburg-typography-font-size-md);
    }
  }
}
